h1= title
p Welcome to #{title}

form()
  fieldset
    legend Name
      p
        input(type="text", id="user", name="user")
          .tip.
            Enter a name.
    legend Gender
      p
        select(name="gender")
          option(value="") -- Select Gender --
          option(value="male") Male
          option(value="female") Female
      p.buttons
        input(type="button", value="Submit", onClick="doQuery()")

<div id='results'></div>
