//h1= title
//p Welcome to #{title}


div(id="inputs")
  h1 What does your name mean?
  form()
        p.name
          label(for="user") Type your name in below
          input(type="text", id="user")
        div(class="gender")
          p
            input(type="radio", id="gender", name="gender", value="male") 
            //|Male
            label Male
          p
            input(type="radio", id="gender", name="gender",  value="female") 
            //|Female
            label Female
        p.submit
          input(type="button", value="Submit", onClick="doQuery()")

<!-- Fill in $results -->
div(id="results")


<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=xa-4ef938e77bfe15b1"></script>
<!-- AddThis Button END -->
