h1= title
p Welcome to #{title}

form()
    legend Type in your name below
      p
        input(type="text", id="user", name="user")
          .tip.
            Enter a name.
      p
        input(type="radio", name="gender", id="gender-male", value="Male") 
        |Male
        input(type="radio", name="gender", id="gender-female", value="Female") 
        |Female
      p.buttons
        input(type="button", value="Submit", onClick="doQuery()")

<div id='results'></div>
