!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script
      function doQuery() {
        $.ajax({
          url: '/fun',
          type: 'POST',
          dataType: 'html',
          data: "user=" + jQuery('#user').val() + "&gender=" + jQuery('#gender:checked').val(),
          timeout: 3000,
          error: function(){
            console.log('Error loading json document');
          },
          success: function(data){
            console.log(data);
            jQuery('#results').removeClass("hideDots");
            jQuery('#results').addClass("showDots");
            jQuery('#results').html(data);
          }
         });
      }

  body!= body
